[submodule "test-data"]
	path = test-data
	url = git@github.com:awst-austria/qa4sm-testdata.git
[submodule "tests/test-data"]
	path = tests/test-data
	url = git@github.com:awst-austria/qa4sm-testdata.git
